.add__users-project--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  max-width: 700px;
  margin: 0 auto;
  gap: 50px;

  > div {
    flex: 1;
  }

  .add__users-project--form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .add__users-project--image {
    img {
      width: 100%;
    }
  }
}
