@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.loading {
  display: grid;
  place-items: center;
  background-color: white;
  left: 50%;
  transform: translateX(50%);
}
.loading svg {
  height: 75%;
}
.thiny {
  display: none;
  font-size: 12px;
  text-decoration: underline;
  margin-top: 4px;
  @media (max-width: 768px) {
    display: flex;
  }
}

.mantine-ActionIcon-root > svg {
  color: black;
}

.login__content {
  position: relative;
}

.login__close--button {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 1;
  outline: 0;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;

  &:hover {
    opacity: 0.65;
  }
}

.login__open .login__wrapper {
  z-index: 2;
  opacity: 1;
}

.login__open .main__container,
.login__open .nav__wrapper {
  filter: blur(3px);
  transition: all 0.25s ease 0s;
}

.login__wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.mainContent {
  background-color: white;
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 3rem;
  padding: 100px 75px;

  svg {
    color: var(--primary);
  }
}

.view {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.alternatives {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.rightalt {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.leftview {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > a {
    font-size: 12px;
    text-decoration: underline;
  }
  @media (min-width: 880px) {
    display: flex;
  }
}

.leftalt {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.rightalt > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 4px;

  > svg {
    width: 50%;
  }
  &:nth-child(2) {
    background-color: rgb(0, 74, 143);
  }
  &:nth-child(3) {
    background-color: rgb(56, 56, 255);
  }
  &:nth-child(4) {
    background-color: rgb(88, 1, 92);
  }
}
