:root {
  --font: "Garamond";
}

.container {

}

* {    
  margin: 0;
  padding: 0;
}


.login_wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr 1.5fr);
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    box-shadow: 0 16px 32px #e4e4e48f;
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.image{
  // height: 100%;
}

.image img{
   max-width: 100%;
    height: auto;
    background: linear-gradient(180deg,#000,#00070f00);
}
.form{
    width: 83%;
    margin: 0 auto;
}

.form>h1{
  justify-content: center;
}