.admin__projects--wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;

  .admin__projects--button {
    width: 100%;
  }

  .admin__projects--search-input {
    width: fit-content;
  }
}

.project__model--form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .project__image--wrapper {
    display: flex;
    .project__image {
      width: 100%;
    }
  }
}
