.project__wrapper {
  text-align: center;
  width: 100%;

  .project__image {
    display: flex;
    width: 100%;

    img {
      @media (max-width: 800px) {
        height: 200px;
      }
      height: 175px;
      width: 100%;
      border-radius: 12px 12px 0 0;
    }
  }

  .project__name {
    font-weight: 600;
    color: #434343;
    padding-bottom: 5px;
  }

  .project__date {
    font-weight: 600;
    font-size: 12px;
    color: #8e8e8e;
  }

  .project__content--wrapper {
    padding: 10px 0;
  }

  .project__button {
    width: 100%;
    a {
      display: flex;
      justify-content: center;
      background-color: #fbfbfd;
      border-top: 1px solid rgba(128, 128, 128, 0.25);
      border-radius: 0 0 12px 12px;
      padding: 8px;
      color: #8e8e8e;
      font-size: 13px;
      font-weight: 600;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: var(--primary);
        color: white;
        border-top: 1px solid transparent;
      }
    }
  }
}

.project__skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
