.projects__wrapper--user-contribution {
  margin-top: 20px;
}

.projects__wrapper--hide {
  grid-template-columns: 1fr;
}

.user__contribution--title {
  color: var(--primary);
}

.user__contribution--wrapper {
    margin-top: 20px;
}