.header__wrapper {
  background-color: white;
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__contact--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: end;
      background-color: bisque;
      gap: 20px;
      padding: 15px;
      border-radius: 4px;
    }
  }
}
