.header__wrapper {
  background: rgb(240, 173, 129);
  background: linear-gradient(
    90deg,
    rgba(240, 173, 129, 1) 0%,
    rgba(231, 152, 145, 1) 15%,
    rgba(211, 106, 175, 1) 30%,
    rgba(180, 81, 195, 1) 45%,
    rgba(123, 85, 200, 1) 60%,
    rgba(77, 131, 253, 1) 100%
  );
  color: white;
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius:8px;

  .header__contact--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: end;
      background-color: #0000006e;
      color: white;
      gap: 20px;
      padding: 15px;
      border-radius: 4px;

      div {
        svg {
          color: white;
          font-size: 24px;
        }
      }
    }
  }
}
