.contact__container {
  display: flex;
  align-items: center;
  margin: 0 auto;

  .contact__wrapper {
    @media (max-width: 1150px) {
      flex-direction: column;
    }

    display: flex;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 12px;
    padding: 60px;

    .contact__form {
      > div {
        margin-bottom: 10px;
      }
    }

    img {
      height: 100%;

      @media (max-width: 700px) {
        display: none;
      }
    }
  }
}
