@use "./../../styles/fonts.scss";

h1 {
  font-family: var(--bodoni);
}

main {
  width: 100vw;
  font-size: var(--h4);

  > div {
    max-width: 1200px;
    margin: 0 auto;
    > h1 {
      font-size: var(--h3);
    }
  }
}
