@use "./../../styles/fonts.scss";

.main__container {
  display: flex;
  min-height: calc(100vh - 60px);
  width: 100%;

  .main__content--wrapper {
    padding: 15px;
    background-color: #eef0f4;
    width: 100%;
  }

  .content__wrapper {
    max-width: 1500px;
    margin: 0 auto;
  }
}
