.project-image__limit--error {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%), rgb(0 0 0 / 5%) 0px 28px 23px -7px,
    rgb(0 0 0 / 4%) 0px 12px 12px -7px;
  border: 1px solid #e9ecef;
  font-size: 15px;

  svg {
    color: #f03e3e;
    font-size: 34px;
  }
  .project__close--icon {
    display: flex;
    cursor: pointer;

    svg {
      transition: all 0.3s ease-in-out;
      color: black;

      &:hover {
        background-color: #ebebeb;
      }
    }
  }
}
