.data-collected__wrapper {
  display: flex;
  gap: 20px;

  .data-collected__card--wrapper {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    >div {
      width: 275px;
      height: 350px;
    }
  }

  .data-collected__users--list-wrapper {
    width: 225px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 12px;

    .data-collected__users--list {
      display: flex;
      gap: 10px;
      color: #111111;
      font-weight: 500;
      font-size: 14px;
      align-items: center;
      letter-spacing: 0.3px;
      line-height: 18px;
      padding: 10px;

      &:nth-of-type(odd) {
        background-color: #ececec;

        &:first-child {
          border-radius: 12px 12px 0 0;
        }
      }

      .data-collected__users--image {
        display: flex;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}

.users__list {
  display: flex;
  flex-direction: column;
}