.project__detail--wrapper {
  .swiper {
    max-width: 1200px;
    margin: 0 auto;

    .data-collected__content--wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .data__collected--image {
        img {
          margin: 0 auto;
          display: flex;
          height: 600px;
        }
      }
    }
  }
}
