.data-collected__cardd {
  width: 100%;
}

.data-collected__wrapper {
  display: flex;
  gap: 20px;

  .data-collected__card--wrapper {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;

    h1 {
      background-color: white;
      box-shadow: 1px 1px 34px -5px rgb(0 0 0 / 40%);
      border-radius: 12px;
      margin: 30px 76px;
      text-align: center;
      padding: 13px;
      color: #000;

      span {
        color: var(--primary);
        padding: 0 10px;
      }
    }

    > div {
      width: 275px;
      height: 420px;
    }
  }

  .data-collected__users--list-wrapper {
    width: 225px;
    max-height: 600px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 12px;

    .data-collected__users--list {
      display: flex;
      gap: 10px;
      color: #111111;
      font-weight: 500;
      font-size: 14px;
      align-items: center;
      letter-spacing: 0.3px;
      line-height: 18px;
      padding: 10px;

      &:nth-of-type(odd) {
        background-color: #ececec;

        &:first-child {
          border-radius: 12px 12px 0 0;
        }
      }

      .data-collected__users--image {
        display: flex;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}

.users__list {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.data__collected--title {
  text-align: center;
  margin: 10px 0;
}
