@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* img {
  width: 100%;
}
:root {
  --font: "Poppins";
}
.loading {
  display: grid;
  place-items: center;
  background-color: white;
  left: 50%;
  transform: translateX(50%);
}
.loading svg {
  height: 75%;
}
.thiny {
  display: none;
  font-size: 12px;
  text-decoration: underline;
  margin-top: 4px;
  @media (max-width: 768px) {
    display: flex;
  }
}
* {
  font-family: var(--font);
}

.mantine-ActionIcon-root > svg {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 5rem;
  > * {
    flex: 1;
  }

  svg {
    color: #228be6;
  }
}

.view {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.alternatives {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.rightalt {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.leftview {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > a {
    font-size: 12px;
    text-decoration: underline;
  }
  @media (min-width: 880px) {
    display: flex;
  }
}

.leftalt {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.rightalt > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 4px;

  > svg {
    width: 50%;
  }
  &:nth-child(2) {
    background-color: rgb(0, 74, 143);
  }
  &:nth-child(3) {
    background-color: rgb(56, 56, 255);
  }
  &:nth-child(4) {
    background-color: rgb(88, 1, 92);
  }
}
