.account__container {
  display: flex;
  align-items: center;
  margin: 0 auto;

  .account__wrapper {
    max-width: 1200px;
    background-color: #fff;
    border-radius: 12px;
    padding: 60px;

    .account__user--details {
      display: flex;
      flex-direction: column;
      gap: 10px;

      > div {
        background: #f9f9f9;
        padding: 10px;
        border-radius: 8px;
        color: #525660;
        font-weight: 600;
        display: flex;
        align-items: center;
        box-shadow: 0 10px 10px rgb(228 230 222);

        svg {
          margin-right: 10px;
        }
      }
    }

    .account__profile--avatar {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #f5f5f5;
      }
    }
  }
}
