.account__container {
  background: linear-gradient(#eeefff, #fff);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .account__wrapper {
    padding: 60px 0;
    background-color: #fff;
    box-shadow: 0 16px 32px #e4e4e48f;
    margin: auto;
    border-radius: 3%;

    .account {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      .user__details {
        flex-direction: column;
        justify-content: center;
        margin: 0 30px;

        div {
          margin-bottom: 20px;
          background: #f9f9f9;
          padding: 6px 20px 6px 10px;
          border-radius: 5px;
          color: #525660;
          font-weight: 600;
          display: flex;
          align-items: center;
          box-shadow: 0 10px 10px rgb(228 230 222);

          svg {
            margin-right: 10px
          }
        }
      }
    }

    .account__profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .account__profile--avatar {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #f5f5f5;
        margin-bottom: 20px;
      }
    }

    .account__profile__name {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .account__profile__email {
      font-size: 14px;
      color: #999;
    }
  }
}