.mantine-ActionIcon-root > svg {
  color: black;
}

.sign-up__wrapper {
  @media (max-width: 1100px) {
  }
  display: flex;
  gap: 1rem;
  height: calc(100vh - 60px);
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.sign-up__already--registered {
  display: none;
  font-size: 12px;
  text-decoration: underline;
  margin-top: 4px;
  @media (max-width: 768px) {
    display: flex;
  }
}

.sign-up__loading {
  display: grid;
  place-items: center;
  background-color: white;
  left: 50%;
  transform: translateX(50%);
}

.sign-up__loading svg {
  height: 75%;
}

.sign-up__content--wrapper {
  @media (max-width: 1100px) {
    flex-direction: column;
    justify-content: center;
  }
  display: flex;
  align-items: center;
  gap: 1rem;

  svg {
    color: #228be6;
  }
}

.alternatives {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.rightalt {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.sign-up__img {
  @media (max-width: 768px) {
    display: none;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > a {
    font-size: 12px;
    text-decoration: underline;
  }
}

.leftalt {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.rightalt > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 4px;

  > svg {
    width: 50%;
  }
  &:nth-child(2) {
    background-color: rgb(0, 74, 143);
  }
  &:nth-child(3) {
    background-color: rgb(56, 56, 255);
  }
  &:nth-child(4) {
    background-color: rgb(88, 1, 92);
  }
}
