.container {
  height: calc(100vh - 64px);

  > div {
    margin-top: 5rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    > form {
      margin-top: 5rem;
      > fieldset {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        flex-direction: column;
        > button {
          padding: 1rem 2rem;
          font-size: var(--h4);
        }
        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          gap: 1rem;
          > input {
            font-size: var(--h5);
          }
        }
      }
    }
  }

  * {
    margin: 0;
    padding: 0;
  }
}
