* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --font: "Poppins";
}

* {
  font-family: "Poppins", sans-serif;
}
