@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font: "Poppins";
}

* {
  font-family: var(--font);
}

body {
  margin: 0;
  background: #eef0f4;
}

a {
  text-decoration: none;
  color: inherit;
}

.login__open {
  overflow: hidden;
}

.skeleton__box {
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
}

.skeleton__box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  -webkit-animation: shimmer 2s infinite;
  animation: shimmer 2s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.flex {
  display: flex;
  width: 100%;
}

svg {
  color: var(--primary);
}

.main {
  display: flex;
}

.input__image img {
  width: 100%;
}

h1 {
  color: var(--primary);
}

/* input:focus:not([type="password"]) {
  border: 1px solid var(--primary) !important;
} */

.mantine-Pagination-active {
  background-color: var(--primary) !important;
}
