.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  background-color: #fbfbfd;
  padding: 0 15px;

  .nav__left {
    display: flex;
    gap: 15px;
    align-items: center;

    >.nav__burger {
      display: flex;

      svg {
        font-size: 24px;
        cursor: pointer;
      }
    }

    .nav__logo {
      display: flex;

      img {
        max-width: 200px;
        height: 50px;
      }
    }
  }

  .nav__user--account {
    display: flex;
    align-items: center;
    margin: 10px;

    svg {
      color: var(--primary);
    }
  }

  .nav__profile--letter {
    background-color: var(--primary);
    color: white;
    width: 45px;
    height: 45px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }
}

.nav__skeleton {
  display: flex;
  gap: 15px;
}

.user__profile {
  width: 100%;
}