svg {
  color: var(--primary);
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  background-color: #fbfbfd;
  padding: 0 15px;

  .nav__user--account {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .nav__profile--letter {
    background-color: var(--primary);
    color: white;
    width: 45px;
    height: 45px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }
}
