* {
  font-family: var(--font);
}

header {
  height: 64px;
  width: 100%;
}

svg {
  color: var(--primary);
}

h1 {
  font-size: var(--h4);

  display: flex;
  align-items: center;
  gap: 4px;
}

li {
  font-size: var(--p1);
  transition: all 0.2s ease-in-out;

  &:active {
    animation: var(--click) ease-in-out;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-height: 80px;
  background-color: rgb(189, 189, 189);

  .user_account {
    display: flex;
    align-items: center;
  }

  > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100%;

    > * {
      margin: 0 1rem;
    }
    > button {
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.button {
  background-color: var(--primary);
  padding: 8px 24px;
  cursor: pointer;

  border-radius: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 1);
  color: white;
}
