svg {
  color: var(--primary);
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  background-color: #fbfbfd;

  .nav__user--account {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100%;

    .nav__button {
      background-color: var(--primary);
      padding: 8px 24px;
      cursor: pointer;

      border-radius: 16px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 1);
      color: white;
    }
  }

  .nav__profile--letter {
    background-color: var(--primary);
    color: white;
    width: 45px;
    height: 45px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }
}
